@import "tailwindcss";
@import "./tailwind.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
